<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
      table, th, td {
          border: 1px solid;
          text-align: left;
      }
  </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="display-1 text-center fw-bold border bg-light">
                Mission to Mars
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            </div>
        </div>
        <div class="row">
            <h1>Latest Mars News</h1>
            <p></p>
        </div>
        <div class="row">
            <h3>{{ mars['news_title'] }}</h3>
            <p>{{ mars['news_p'] }}</p>
        </div>
        <div class="row">
            <div class="col-md-8" align="center"> 
                <h2>Featured Mars Image</h2>
                <img src="{{ mars['featured_image_url'] }}">
            </div>
            <div class="col-md-4" align="center">
                <h2>Mars Facts</h2>
                {{ mars['mars_table_html'] | safe }}
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <div class="row" align="center">
                <h2>Hemisphere Images</h2>
            </div>
        </div>
        <div class="row" align="center">
                {% for dict in mars['hemisphere_image_urls'] %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem">
                            <img class="card-img-top" src={{ dict['img_url'] }} alt="Card image cap"> 
                            <div class="card-body">
                                <h5 class="card-title" align="left">{{ dict['title'] }}</h5>
                            </div> 
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</body>

</html>