<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <h2>Latest Mars News</h2>
        {% for i in mars.news_title %}
            {% set item_1 = mars.news_title[loop.index-1] %}
            {% set item_2 = mars.news_p[loop.index-1] %}
            <ul>
                <li>{{ item_1 }}</li>
                <li>{{ item_2 }}</li>
            </ul>
        {% endfor %}
        <hr/>
        <h2>Featured Image</h2>
        <img src="{{ mars['featured_image_url'] }}">
        <hr/>
        <h2>Mars Table</h2>
        {{ mars['mars_table_html'] | safe }}
        <hr/>
        <h2>Hemisphere Images</h2>
        {% for dict in mars['hemisphere_image_urls'] %}
            <img src={{ dict['img_url'] }} width="200px" height="200px"> {{ dict['title'] }}
        {% endfor %}
        <hr/>

  </div>
</body>

</html>