<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>Latest Mars News</h2>
    {% for elt in mars %}
    <h3>News Title: {{ elt['news_title'] }}</h3>
    <h3>News Paragraph: {{ elt['news_p'] }}</h3>
    <!-- <img src="{{ elt['imgsrc'] }}"> -->
    <hr/>
    {% endfor %}
    <!-- <h2>Featued Image</h2>
    <h3>Featured Image: {{ mars['featured_image_url'] }}</h3>
    <hr/>
    <h2>Mars Table</h2>
    <h3>Mars Table: {{ mars['mars_table_html'] }}</h3>
    <hr/>
    <h2>Hemisphere Images</h2>
    <h3>Hemisphere Images: {{ mars['hemisphere_image_urls'] }}</h3>
    <hr/> -->


  </div>
</body>

</html>